/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow: visible;
  outline: none;
}