[data-reach-tab-list] {
  display: flex;
  justify-content: flex-end;
}

[data-reach-tab] {
  padding: 5px 18px;
  background: #ccc;
  transform: perspective(100px) rotateX(30deg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  &[data-selected] {
    background: #fff;
    z-index: 5;
  }
  &.close-button {
    background: #000;
    color: #fff;
    // transform: none;
    border-radius: 0;
    right: 0;
    z-index: 3;
  }
}
